/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #333;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;


}
.navbar-inverse .navbar-brand{
	background-color: #333;
	color: #fff;
}
.navbar-inverse .navbar-brand > a{
	color: #438bca;

}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #438bca;
}

.navbar{
	color: #fff;
}

.navbar-header{
	color: #fff;
}

.jumbotron{
	background-image: url(../img/Picture3.png);
	background-repeat: no-repeat;
	border-color: #333;
}
.subheading {
	color: #fff;
}
.btn-default{
	background-color: #777;
	color: #fff;
	border-color: #777;
}
.navbar-brand{
	color:#fff;
}

a:hover {
	color:#438bca;
}